<form action="/newevent" method="post" enctype="multipart/form-data">
	<p>
		Event name:
	</p>
	<input type="text" name="eventName">
	<p>
		Event date:
	</p>
	<input type="date" name="eventDate">
	<p>
		Event image:
	</p>
	<input type="file" name="eventImage">
	<input type="submit" value="Submit">
</form>